<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acta de Compromiso</title>
</head>
<body>
  <div>
    <div style="font-weight: bold; text-align:center;margin-top:40px;">
    <div >REPÚBLICA BOLIVARIANA DE VENEZUELA</div>
    <div>MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN</div>
    <div>COMPLEJO EDUCATIVO “SERGIO MEDINA”</div>
    <div>CARACAS</div>
    <div>DISTRITO CAPITAL CODIGO DEA: OD11190811</div>
    <br>
    <br>
    <br>

    <div style="font-weight: bold; font-size:large;text-align:center">ACTA DE COMPROMISO</div>
    <br>
    <br>
    <br>
    </div>
    
    <br>
    <div style="padding: 30px; line-height:2">Yo, <span id="representante">{{data.representante}}</span>,
     representante de {{data.estudiante}} cursante de <span id="grado">{{data.curso}}</span> Grado <span id="seccion">
     </span> sección <span id="seccion">{{data.seccion}},</span> me dirijo a usted Sr. director para manifestar que consciente que el Instituto basa su modelo de educación por perfiles de desempeño, con principios éticos y humanistas, 
     dedicada a la formación profesional de damas y caballeros críticos y competentes, me comprometo a leer 
     y acatar las políticas, disposiciones y normas relacionadas con la parte académica, disciplinaria y económica
      contenidas en la Ley Orgánica de Educación, el Reglamento General de dicha Ley; Reglamento General de Estudiantes,
       y demás Reglamentos, por lo que, me sujeto a todas las leyes, reglamentos, instructivos y resoluciones, 
       comprometiéndome a cumplir en forma permanente y a cabalidad todo lo referente al control y 
       cumplimiento de obligaciones, a fin de mantener la paz y la convivencia armónica de la Institución y así evitar 
       sanciones futuras por la inobservancia de mis obligaciones como estudiante.</div>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;">FIRMA DEL REPRESENTANTE</div>
  </div>
</body>
</html>
